.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2
        test1
      %ul
        Member:
        %li<
          Abe
        %li<
          Suzuki
    .chat-main__group-info__edit-btn
      = link_to "#" do
        Edit
  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message-info
        %p.sender<
          Abe
        %p.date<
          2020/05/20(WED) 13:30:01
      .chat-main__messages__message-text
        明日は木曜日
    .chat-main__messages__message
      .chat-main__messages__message-info
        %p.sender<
          Suzuki
        %p.date<
          2020/05/20(WED) 13:45:56
      .chat-main__messages__message-text
        明後日は金曜日
  .chat-main__message-form
    %form.new
      .input-box
        %input.input-box__text{:placeholder => "type a message", :type => "text"}
        %label.input-box__image
          %input.input-box__image-file{:type => "file"}
          = icon('far', 'image')
      %input.submit-btn{:type => "submit", :value => "Send"}
        